name: ARMv8_Build

on:
  repository_dispatch:
#  release:
#    types: published
  schedule:
    - cron: 30 23 * * *
  watch:
    types: started

env:
  REPO_URL: https://github.com/coolsnowwolf/lede
  REPO_BRANCH: master
  FEEDS_CONF: feeds.conf.default
  DIY_P1_SH: diy-part1.sh
  DIY_P2_SH: diy-part2.sh
  MRG_ADD_SH: aarch64/ARMv8.sh
  Update_Ver_SH: aarch64/autoVersion.sh
  Get_Imgs_SH: aarch64/getImgs.sh
  DOCKER_BUILD_SH: buildImage.sh
#   SSH_ACTIONS: false
  UPLOAD_BIN_DIR: false
  UPLOAD_FIRMWARE: false
  TZ: Asia/Shanghai
  FILE_NAME: ARMv8
  PRODUCT_NAME: ARMv8
jobs:
  build:
    runs-on: ubuntu-18.04
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
    #- name: WeChat notification
    #  run: curl https://sc.ftqq.com/${{ secrets.ServerChan }}.send?text=${{ env.FILE_NAME }}开始编译
      
    - name: Checkout
      uses: actions/checkout@master

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo rm -rf /etc/apt/sources.list.d/* /usr/share/dotnet /usr/local/lib/android /opt/ghc
        sudo -E apt-get -qq update
        sudo -E apt-get -qq install $(curl -fsSL git.io/depends-ubuntu-1804)
        sudo -E apt-get -qq install rename
        sudo -E apt-get -qq install pigz
        sudo -E apt-get -qq install time
        sudo -E apt-get -qq install sshpass
        sudo -E apt-get -qq autoremove --purge
        sudo -E apt-get -qq clean
        sudo timedatectl set-timezone "$TZ"
        sudo mkdir -p /workdir
        sudo chown $USER:$GROUPS /workdir

    - name: Clone source code
      working-directory: /workdir
      run: |
        df -hT $PWD
        git clone --depth 1 $REPO_URL -b $REPO_BRANCH openwrt
        ln -sf /workdir/openwrt $GITHUB_WORKSPACE/openwrt
        cd openwrt
        useVersionInfo=$(git show -s --date=short --format="Author: %an<br/>date: %cd<br/>commit: %s<br/>commit hash: %H")
        echo "useVersionInfo=$useVersionInfo" >> $GITHUB_ENV
        echo "DATE=$(date "+%Y-%m-%d %H:%M:%S")" >> $GITHUB_ENV
        echo "DATE1=$(date "+%Y-%m-%d")" >> $GITHUB_ENV
#        echo "::set-env name=useVersionInfo::$useVersionInfo"
#        echo "::set-env name=DATE::$(date "+%Y-%m-%d %H:%M:%S")"

    - name: Build firmware
      id: build
      run: |
        sudo mkdir /opt/kernel
        sudo cp $GITHUB_WORKSPACE/BuildARMv8/* /opt/kernel/
        #sudo cp $GITHUB_WORKSPACE/BuildARMv8/mk_*.tar.gz /opt/
        #sudo tar xvzf mk_*.tar.gz
        cd /opt
        sudo cp $GITHUB_WORKSPACE/scripts/patches/*.patch ./
        sudo cp $GITHUB_WORKSPACE/scripts/respawn_mks.sh ./
        sudo git clone https://github.com/unifreq/openwrt_packit openwrt
        sudo cp $GITHUB_WORKSPACE/scripts/whoami ./openwrt/
        sudo chmod +x ./respawn_mks.sh
        sudo ./respawn_mks.sh
        cd /opt/openwrt
        sudo wget $(curl -s https://api.github.com/repos/HoldOnBro/Actions-OpenWrt/releases/34554768 | grep browser_download_url | cut -d '"' -f 4)
        chmod +x $GITHUB_WORKSPACE/$Update_Ver_SH
        sudo $GITHUB_WORKSPACE/$Update_Ver_SH
        #sudo ./mk_rk3328_beikeyun.sh
        sudo ./mk_rk3328_beikeyun_sf.sh
        sudo ./mk_rk3328_beikeyun_plus.sh
        sudo ./mk_rk3328_beikeyun_plusplus.sh
        #sudo ./mk_rk3328_l1pro.sh
        sudo ./mk_rk3328_l1pro_sf.sh
        sudo ./mk_rk3328_l1pro_plus.sh
        sudo ./mk_rk3328_l1pro_plusplus.sh
        #sudo ./mk_s905d_n1.sh
        sudo ./mk_s905d_n1_sf.sh
        sudo ./mk_s905d_n1_plus.sh
        sudo ./mk_s905d_n1_plusplus.sh
        #sudo ./mk_s905x2_x96max.sh
        #sudo ./mk_s905x2_x96max_sf.sh
        #sudo ./mk_s905x2_x96max_plus.sh
        #sudo ./mk_s905x3_multi.sh
        sudo ./mk_s905x3_multi_sf.sh
        sudo ./mk_s905x3_multi_plus.sh
        sudo ./mk_s905x3_multi_plusplus.sh
        #sudo ./mk_s912_zyxq.sh
        sudo ./mk_s912_zyxq_sf.sh
        sudo ./mk_s912_zyxq_plus.sh
        sudo ./mk_s912_zyxq_plusplus.sh
        #sudo ./mk_s922x_gtking.sh
        #sudo ./mk_s922x_gtking_sf.sh
        #sudo ./mk_s922x_gtking_plus.sh
        #sudo ./mk_h6_vplus.sh
        sudo ./mk_h6_vplus_sf.sh
        sudo ./mk_h6_vplus_plus.sh
        sudo ./mk_h6_vplus_plusplus.sh
        sudo cp ./*AllPackages.tar.gz ./tmp/
        sudo cp ./files/update*.sh ./tmp/
        echo "::set-output name=status::success"

    - name: Organize files
      id: organize
      if: steps.build.outputs.status == 'success' && !cancelled()
      run: |
        cd /opt/openwrt/tmp/
        pigz -6 -p $(nproc) *.img

        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
        echo "::set-output name=status::success"

    - name: Upload bin directory
      uses: actions/upload-artifact@master
      if: steps.compile.outputs.status == 'success' && env.UPLOAD_BIN_DIR == 'true'
      with:
        name: OpenWrt_bin${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
        path: openwrt/bin/targets/*/*/bin.tar.gz

    - name: Upload firmware directory
      uses: actions/upload-artifact@master
      if: env.UPLOAD_FIRMWARE == 'true' && steps.organize.outputs.status == 'success' && !cancelled()
      with:
        name: OpenWrt_firmware${{ env.DEVICE_NAME }}${{ env.FILE_DATE }}
        path: ${{ env.FIRMWARE }}

    - name: Create release
      id: release
      uses: ncipollo/release-action@v1
      with:
        name: R${{ env.DATE }} for ${{ env.FILE_NAME }}
        allowUpdates: true
        tag: ${{ env.FILE_NAME }}
        commit: master
        token: ${{ secrets.RELEASES_TOKEN }}
        body: |
          自61版之后就是最新的openwrt-21.02了，由于缺乏必要的测试，不保证可用性，出现任何问题请自行排查，或等待上游稳定后重新刷入。

          默认IP：192.168.123.1 默认密码： password
          当前使用版本:【编译前的最后一次[➦主源码](https://github.com/coolsnowwolf/lede)更新记录】
          参见 Files4Build 内记录
          
          54版更新说明：具体请参阅F大发的[帖子](https://www.right.com.cn/forum/thread-4076037-1-1.html)

          1.  54版本对于微加云、贝壳云、我家云等非 Amlogic的盒子来说，并没有什么特别的变化，一切照旧
          2.  Amlogic盒子的安装脚本、升级脚本都做了大量变更，简介如下：
              a. N1盒子： 53版本由于调整成激进的分区策略，占用了EMMC的68MB-700MB范围，但是U-boot启动过程中可能会读写该区域，导致启动失败，因此54版本重新调回从700MB起始，这样一来，刷过53的用户建议先刷回安卓固件再重新刷54，刷回安卓的目的是还原68-700MB这个范围的原始数据，要是实在不想还原的话，出了问题不要怪固件就行。
              b. 章鱼星球盒子： 与N1情况类似
              c. S905x3盒子：主线u-boot已经可以刷入EMMC（这是可选的）,彻底解决绿屏问题、千兆网问题，并且+版也可以从EMMC启动了(即使不刷入主线u-boot也可以)，不再需要一直插着U盘或sd卡
              d. S905X2、S922X盒子：由于用户稀少，并且还没有解决主线u-boot的问题，所以暂时停更，复更时间未定。
              e. 升级脚本一分为二：update-amlogic-openwrt.sh 用于(目标版本)54及以后版本的升降级，update-amlogic-openwrt-old.sh 用于(目标版本)53及以前版本的升降级
              f. x96max+ PCB版本4.1不能启动的原因已查明，见置顶的提示，其实 V3.1和V4.0也都有同样问题，只是程度比V4.1轻，如果出现类似问题也可参考4.1的办法处理。

          升级降级方法统一为：
              1. 把 update-amlogic-openwrt.sh 及 img镜像上传至  /mnt/mmcblk2p4
              2. cd    /mnt/mmcblk2p4
              3. chmod   755  update-amlogic-openwrt.sh
              4. ./update-amlogic-openwrt.sh    xxxxx.img

        artifacts: ${{ env.FIRMWARE }}/*
    
    - name: Telegram notification
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: |
          编译时间：${{ env.DATE }}
          lede更新信息：${{ env.useVersionInfo }}
          ${{ env.PRODUCT_NAME }}打包完成

